<h1>Hello World</h1>

<%= "I LOVE" + "RUBY"%>


<%= 1 + 2 %>
<h1>

<div>1 + 2</div>

<% catLady = true %>
<% if catLady == true %>
<p> You are a crazy cat Lady!</p>
<% else %>
<% if 1 = 2  %>
<p>1 equal to 2!<p>
  <% else %>
  <p> Math is a lie...</p>
  <% end %>
  
  
  
  <% comments = ['Your pictures sp cute']